 <div class="container mt-4">
    <div class="row">
      <div class="col-6 m-auto">
        <div class="kitchen-form">
          <h1>Add a new Kitchen</h1>
          <div class="mt-3">
            <%= form_for(@kitchen) do |f| %>
              <div class="form-group">
                <%= f.label :title %>
                <%= f.text_field :title, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :address %>
                <%= f.text_field :address, class: 'form-control' %>
              </div>
               <div class="form-group">
                <%= f.label :photo %>
                <%= f.text_field :photo, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :description %>
                <%= f.text_area :description, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :amenities %>
                <%= f.text_area :amenities, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :price %>
                <%= f.number_field :price, class: 'form-control' %>
              </div>
               <div class="form-group">
                <%= f.label :rating %>
                <%= f.number_field :rating, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :capacity %>
                <%= f.number_field :capacity, class: 'form-control' %>
              </div>
              <div class="form-group">
                <%= f.label :availability %>
                <%= f.number_field :availability, class: 'form-control' %>
              </div>
              <div class="mt-3">
                <%= f.submit class: 'btn btn-primary' %>
                <%= link_to 'Cancel', '#', class: 'btn btn-danger ml-2' %>
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

