<div class="container margin-top-70">
  <% if flash[:notice] %>
  <div class="alert alert-success alert-dismissible" role="alert">
    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
    <%= flash[:notice] %>
  </div>
  <% end %>
  <div class="col-xs-12 col-md-6">
    <h1 id="title-yo"><%= @user.username %></h1>
    <%= cl_image_tag(@user.photo, width: 1000, height: 1000, crop: :thumb, gravity: :face, class: "profile-avatar") %>
    <h4>Bio</h4>
    <%= @user.bio %>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="user-kitchens">
      <div class="text-center">
        <h1> <% @user.username.nil? ? "" : "#{@user.username}'s"%> Kitchens 🍽</h1>
      </div>
      <ul>
        <% @user_kitchens.each do |kitchen| %>
        <div class="card margin-top-50" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('<%=kitchen.photo %>')">
          <h2 class="profile-headers card-description"><%= link_to "#{kitchen.title}", kitchen_path(kitchen), class: "profile-headers" %></h2>

          <div class="rating-stars rating-stars-profile">
            <ul class="list-inline">
              <% kitchen.rating.times do %>
                <li ><i class="fas fa-star"></i></li>
              <% end %>
            </ul>
          </div>
        </div>
        <% end %>
      </ul>
    </div>
  </div>
</div>
