<div class="container margin-top-70">
  <div class="col-xs-12 col-md-6">
      <!--    -->
    <h1 id="title-yo"><%= "Welcome " + current_user.username + "!" %></h1>

    <%= link_to "manage bookings", bookings_path %>
  </div>

  <div class="col-xs-12 col-md-6">
    <div class="user-kitchens">
      <h1>Kitchens</h1>
      <ul>
        <% @user_kitchens.each do |kitchen| %>
          <li>
            <%= kitchen.title %>
            <%= link_to "Delete", kitchen_path(kitchen),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
            <%= link_to "Edit", edit_kitchen_path(kitchen)%>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
